@charset "utf-8";
/* CSS Document */

body {
    background-color: #2A62AF;
    background-repeat: repeat;

    height: 10px;
    width: 10px;
    min-width: 0px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 0px;
    min-height: 0px;
}
h1 {
    display: inherit;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: justify;
}
h2 {
}

img {
    background-repeat: repeat;
    background-position: 150px 15px;
    background-clip: border-box;
    border-radius: 20px;
    border-collapse: collapse;
}

h2 {
    display: inherit;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: justify;
}


table {
    margin-top: 15px;
    margin-left: 50px;
    background-color: #C84648;
    color: #F8F8F8;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    background-position: 20px 20px;
}
